@charset "utf-8";
    html{
        font-size:16px;
    }
body{
    color:rgb(102, 50, 1);
    font-family:"arial black","HG丸ｺﾞｼｯｸM-PRO",sans-serif;
    background-color:#ebe5c9;
    background-image:url(../images/bg.png);
    /* background-repeat:no-repeat;
    background-position:repeat; */
}
header{
    /* background-color:rgb(103, 200, 230); */
    width:1240px;
    margin:0 auto 44px
}
h1{
    text-align:center;
    padding: 20px 0 16px;
}
ul{
    list-style-type:none;
    padding-left:0;
}
header nav ul{
    display:flex;
    justify-content:space-evenly;
    border-top:2px solid #336633;
    border-bottom:2px solid #336633;
    padding:12px 0 10px;
}
a{
    text-decoration:none;
    color: rgb(109, 12, 65);
}
div{
    display:flex;
    justify-content: space-between;
    width:1240px;
    margin:0 auto 50px;
}
main{
    flex-basis:920px;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 62px 72px 32px 72px;
    box-shadow: 0px 0px 10px 10px rgb(238, 203, 129);
}
aside{
    flex-basis:284px;
}
aside nav{
    flex-basis:920px;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 24px;
    box-shadow: 0px 0px 10px 5px rgb(238, 203, 129);
    margin-bottom: 26px;
}
aside nav h2{
    margin-bottom: 18px;
    font-size:1.5rem;
    font-weight: bold;
    color:brown;
}
aside nav ul{
    font-size:1.2rem;
}
.categoryNav ul li{
    list-style-type:square;
    color:#7c5d48;
    margin: 0 0 16px 20px;
}
.resentNav ul li{
    border-bottom:1px solid #7c5d48;
    padding-bottom: 10px;
    margin-bottom: 22px;

}

/*640px以下*/

@media screen and (max-width:640px){
    html{
        font-size:16px;
    }
 header{
    /* background-color:rgb(103, 200, 230); */
    width:100%;
}

    h1{
    text-align:left;
    padding: 20px 0 16px;
}

    main{
        margin-left:16px;
        margin-right:16px;
        margin-bottom:30px;
    }
    aside{
        margin-left:16px;
        margin-right:16px;
        margin-bottom:30px;
    }

    div{
        display:block;
        width:100%;
    }

}